
.container-fluid {
    padding: 0;
}

.container-fluid .row{
    margin: 0;
}

.text{
    /* background-color: #d1d1d1;
    background-color: 	#B0E0E6; */
    /* font-size: 14px; */
    color: rgb(39, 43, 46);
}


/* 
.navbar-brand{
    background: url('../img/twiter_logo.png') no-repeat; display: inline-block; - uma div do lado da outra
} */


/*Tabelas*/
table, th, td {
	border: 1px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  } 

 td, th{
	border: 1px solid #dddddd;
    padding: 8px;
    /* text-align: center; */
} 


table {
    table-layout:fixed;
    width:100%;
    word-wrap:break-word;
   }


/*Dimencionamento de Colunas*/
#col-id{
    width: 10px;
}
#col-name-proj{
    width: 200px;
}

#col-disc{
    width: 200px;
}
#col-doc-type{
    width: 300px;
}
#col-doc-name{
    width: 400px;
}
#col-type-page-coust{
    width: 130px;
}

#col-qt{
    width: 100px;
}

/*Colorir Referência ID*/
#col-nome-proj{
    color:rgb(163, 84, 10);

}


/*Dimencionamento de Colunas de edição*/
#col-name-employee{
    width: 300px;
}

#col-name-comment{
    width: 500px;
}

#id_proj_name{
    width: 210px;
}
#id_subject_name{
    width: 210px;
}
#id_doc_name_pattern{
    width: 310px;
}
#id_doc_name{
    width: 410px;
    height:22px;
}
#id_cod_doc_type{
    width: 110px;
}
#id_page_type{
    width: 110px;
}
#id_format_doc{
    width: 140px;
}
#id_qt_page{
    width: 120px;
    height:22px;
}
#id_qt_hh{
    width: 120px;
    height:22px;
}